@use "../global/" as global;

.u-color__design {
  background: #569bff;
  border-color: #569bff;
}

.u-color__cording {
  background: #ef6bab;
  border-color: #ef6bab;
}

.u-color__writing {
  background: #ee933e;
  border-color: #ee933e;
}

.u-color__movie {
  background: #18be64;
  border-color: #18be64;
}

.u-color__all {
  background: #9f28fb;
  border-color: #9f28fb;
}
