@use "../global/" as global;

.u-color__design {
  background: #569bff;
}

.u-color__cording {
  background: #ef6bab;
}

.u-color__writing {
  background: #ee933e;
}

.u-color__movie {
  background: #18be64;
}
