*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

q {
	quotes: '"' '"';
}

body {
	color: #222;
	font-family: "Noto Sans JP", serif;
}

.fade-in-up {
	opacity: 0;
	transform: translateY(24px);
	transition: opacity 1s, transform 1s;
}

.fade-in-up.is-in-view {
	opacity: 1;
	transform: translateY(0);
}

.l-header {
	padding-block: 25px;
	position: fixed;
	transition: background-color 0.5s ease;
	width: 100%;
	z-index: 500;
}

.l-header__inner {
	padding-inline: 20px;
}

.l-header__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.l-header__image path {
	transition: fill 0.3s ease;
}

.l-header__drawer {
	flex-shrink: 0;
	height: 31px;
	position: relative;
	width: 48px;
	z-index: 200;
}

.l-header__drawer-bar {
	background-color: #222;
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 48px;
}

.l-header__drawer-bar:nth-of-type(2) {
	top: 12.5px;
}

.l-header__drawer-bar:nth-of-type(3) {
	top: 25px;
}

.l-header__drawer-content {
	background-color: rgba(34, 34, 34, 0.9);
	height: 100%;
	left: 0;
	opacity: 0;
	padding-block: 90px;
	padding-left: 32px;
	position: fixed;
	top: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	visibility: hidden;
	width: 100%;
}

.l-header__drawer-menus {
	color: #ebebeb;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	gap: 32px;
	line-height: 1;
}

.l-header__drawer-menu {
	padding-bottom: 5px;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.l-header__drawer-menu::after {
	background-color: #ebebeb;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: left center;
	transition: transform 0.3s;
	width: 100%;
}

.l-header__drawer-menu:hover::after {
	transform: scale(1, 1);
}

.l-header__drawer-bar {
	transition: background-color 0.3s ease;
}

.l-header__drawer-bar:nth-of-type(1) {
	animation: bar01 0.75s forwards;
}

.l-header__drawer-bar:nth-of-type(2) {
	opacity: 1;
	transition: all 0.3s ease;
}

.l-header__drawer-bar:nth-of-type(3) {
	animation: bar03 0.75s forwards;
}

.l-header__drawer-bar.is-active {
	background-color: #ebebeb;
}

.l-header__drawer-bar.is-active:nth-of-type(1) {
	animation: active-bar01 0.75s forwards;
}

.l-header__drawer-bar.is-active:nth-of-type(2) {
	opacity: 0;
}

.l-header__drawer-bar.is-active:nth-of-type(3) {
	animation: active-bar03 0.75s forwards;
}

.l-header__container-pc {
	display: none;
}

.l-header__logo-pc-svg path {
	transition: fill 0.3s ease;
}

.l-header-pc__menus {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 15px;
	font-weight: 700;
	gap: 15px;
	line-height: 1;
	transition: color 0.3s ease;
}

.l-header-pc__menu {
	color: #222;
	padding-block: 5px;
	position: relative;
}

.l-header-pc__menu::after {
	background: #222;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: left center;
	transition: transform 0.3s ease;
	width: 100%;
}

.l-header-pc__menu:hover::after {
	transform: scale(1, 1);
}

.l-header-pc__menu.is-scroll::after {
	background: #ebebeb;
}

.l-header-pc__menu--button {
	background-color: #222;
	border-radius: 30px;
	color: #ebebeb;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	padding: 11px 18px 12px 18px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.check {
	height: 200px;
	width: 200px;
}

.l-footer {
	background: #222;
	color: #ebebeb;
	padding-bottom: 42px;
	padding-top: 55px;
}

.l-footer__inner {
	text-align: center;
}

.l-footer__first {
	display: flex;
	flex-direction: column;
}

.l-footer__logo img {
	height: 30px;
	width: 282px;
}

.l-footer__sns {
	display: flex;
	flex-direction: row;
	gap: 48px;
	justify-content: center;
	padding-top: 34px;
}

.l-footer__sns path {
	transition: opacity 0.3s ease;
	fill: #ebebeb;
}

.l-footer__sns path:hover {
	opacity: 0.7;
}

.l-footer__second {
	padding-top: 48px;
}

.l-footer__second-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px 32px;
	justify-content: center;
	margin: 0 auto;
	width: 318px;
}

.l-footer__second-nav-list {
	font-size: 13px;
	font-weight: 700;
	line-height: 14px;
}

.l-footer__second-notes {
	padding-bottom: 24px;
	padding-inline: 33px;
	padding-top: 64px;
	text-align: left;
}

.l-footer__second-notes-text {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.65;
}

.c-card {
	-moz-column-break-inside: avoid;
	background: #ebebeb;
	border-radius: 25px;
	break-inside: avoid;
	display: inline-block;
	padding-bottom: 35px;
	padding-inline: 19px;
	padding-top: 30px;
	width: 312px;
}

.c-card:hover .c-card__image img {
	filter: brightness(70%);
}

.c-card:hover .c-card__image-hover {
	opacity: 1;
}

.c-card:hover .c-card__links {
	opacity: 0.7;
}

.c-card__tags {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.c-card__tag {
	border-radius: 19.5px;
	color: #ebebeb;
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	padding: 7px 12px;
	width: -moz-fit-content;
	width: fit-content;
}

.c-card__image {
	padding-top: 16px;
	position: relative;
}

.c-card__image img {
	transition: filter 0.3s ease;
}

.c-card__image-hover {
	bottom: 8px;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-weight: 400;
	left: 10px;
	line-height: 1.6;
	opacity: 0;
	position: absolute;
	transition: opacity 0.3s ease;
}

.c-card__content-top {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 16px;
}

.c-card__title {
	color: #222;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
}

.c-card__favorite-before.is-inactive {
	display: none;
}

.c-card__favorite-after {
	display: none;
}

.c-card__favorite-after.is-active {
	display: block;
}

.c-card__title-sub {
	color: #6b6b6b;
	font-family: "Noto Sans JP";
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 18px */
	padding-bottom: 16px;
	padding-top: 8px;
}

.c-card__manager {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 3px;
}

.c-card__manager + .c-card__manager {
	padding-top: 5px;
}

.c-card__manager-image {
	border-radius: 50%;
	flex-shrink: 0;
	height: 30px;
	overflow: hidden;
	width: 30px;
}

.c-card__manager-name {
	color: #222;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	padding-right: 38px;
	position: relative;
}

.c-card__manager-color {
	border-radius: 50%;
	height: 15px;
	position: absolute;
	right: 17px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
}

.c-card__manager-color-secondary {
	border-radius: 50%;
	height: 15px;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
}

.c-card__content-body {
	color: #6b6b6b;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.65;
	padding-bottom: 32px;
	padding-top: 12px;
}

.c-card__links {
	color: #222;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: opacity 0.3s ease;
}

.c-card__link-more {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	position: relative;
}

.c-card__link-more::after {
	background: #222;
	bottom: -5px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 84px;
}

.c-card__link-page-container {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.c-card__link-page {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	position: relative;
}

.c-card__link-page::after {
	background: #222;
	bottom: -5px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 97px;
}

.p-mv {
	background: url(../img/mv-sp.png) no-repeat center center/cover;
	padding-bottom: 261px;
	padding-top: 86px;
	position: relative;
}

.p-mv__gradation {
	bottom: -2px;
	position: absolute;
}

.p-mv__inner {
	margin: 0 auto;
	max-width: 1060px;
	padding-inline: 19px;
}

.p-mv__top-text {
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	line-height: 1;
}

.p-mv__top-logo {
	padding-bottom: 22px;
	padding-top: 18px;
}

.p-mv__top-logo img {
	width: 292px;
}

.p-mv__bottom-text {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.65;
}

.p-site {
	background: #222;
	height: 443px;
}

.p-site__container {
	width: 312px !important;
}

.p-site__swiper {
	padding-bottom: 46px !important;
	top: -207px;
}

.swiper-wrapper {
	transition-timing-function: linear !important;
}

.swiper-pagination-progressbar {
	background: #fff !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	width: 200px !important;
}

.p-site__swiper-pagination {
	height: 2px !important;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	bottom: 0 !important;
	top: auto !important;
}

.swiper-pagination-progressbar-fill {
	background: #9f28fb !important;
}

.p-report {
	background: #222;
	padding-bottom: 50px;
	padding-top: 50px;
}

.p-report__inner {
	padding-inline: 39px;
}

.p-report__title svg {
	height: 238px;
	width: 182px;
}

.p-report__description {
	color: #ebebeb;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.9;
	padding-top: 36px;
}

.p-report__description-text + .p-report__description-text {
	padding-top: 17px;
}

.p-works {
	background: #222;
	padding-bottom: 70px;
	padding-top: 70px;
}

.p-works__inner {
	padding-inline: 20px;
}

.p-works__title {
	color: #ebebeb;
	text-align: center;
}

.p-works__title-sub {
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	padding-top: 13px;
}

.p-works__narrow-sp {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 48px;
}

.p-works__narrow-pc {
	display: none;
}

.p-works__narrow-pc-button {
	color: #ebebeb;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin: 0 auto;
	max-width: 810px;
}

.p-works__narrow-pc-category {
	border: 1px solid;
	border-color: #ebebeb;
	border-radius: 20px;
	color: #ebebeb;
	font-size: 16px;
	font-weight: 700;
	line-height: 14px;
	padding: 13px 30px;
	transition: all 0.1s ease;
}

.p-works__narrow-pc-tag {
	border: 1px solid;
	border-color: #ebebeb;
	border-radius: 20px;
	color: #ebebeb;
	font-size: 16px;
	font-weight: 700;
	line-height: 14px;
	padding: 13px 25px;
	transition: all 0.1s ease;
}

.p-works__narrow-pc-tag.is-active {
	background: #727272;
	border-color: #727272;
}

.p-works__narrow-pc-search {
	display: flex;
	justify-content: center;
	padding-top: 67px;
}

.p-works__search-text {
	background: #9f28fb;
	border-radius: 20px;
	color: #ebebeb;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	font-weight: 700;
	gap: 12px;
	line-height: 1;
	padding: 13px 40px;
	transition: opacity 0.3s ease;
}

.p-works__search-text:hover {
	opacity: 0.7;
}

.p-works__narrow-sp-button {
	background: #9f28fb;
	border-radius: 25px;
	color: #ebebeb;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	font-weight: 700;
	justify-content: space-between;
	line-height: 1;
	padding: 16px 26px 16px 66px;
	position: relative;
	width: 250px;
}

.p-works__cards {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 56px;
}

.p-works__cards .c-card {
	margin-bottom: 32px;
}

.p-works__more-button {
	display: flex;
	justify-content: center;
	padding-top: 44px;
}

.p-works__more-button-text {
	background-color: #222;
	border: 1px solid currentColor;
	border-radius: 30px;
	color: #ebebeb;
	padding: 17px 86px 17px 85px;
	transition: opacity 0.3s ease;
	width: -moz-fit-content;
	width: fit-content;
}

.p-works__more-button-text:hover {
	opacity: 0.7;
}

.p-works__modal {
	background: rgba(34, 34, 34, 0.9);
	height: 100%;
	left: 0;
	padding-inline: 31px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 600;
}

.p-works__modal-category {
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	visibility: hidden;
}

.p-works__modal-category.is-active {
	opacity: 1;
	visibility: visible;
}

.p-works__modal-top {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-top: 30px;
}

.p-works__modal-batu {
	height: 33px;
	position: relative;
	width: 33px;
}

.p-works__modal-batu-bar {
	background: #ebebeb;
	height: 1px;
	left: 0;
	position: absolute;
	width: 33px;
}

.p-works__modal-batu-bar:nth-of-type(1) {
	transform: rotate(45deg);
}

.p-works__modal-batu-bar:nth-of-type(2) {
	transform: rotate(-45deg);
}

.p-works__modal-select {
	border: 1px solid #ebebeb;
	border-radius: 20px;
	color: #ebebeb;
	font-size: 16px;
	font-weight: 700;
	line-height: 14px;
	padding: 13px 40px;
	transition: all 0.1s ease;
}

.p-works__modal-body-category {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-top: 21px;
}

.p-works__modal-detail {
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	visibility: hidden;
}

.p-works__modal-detail.is-active {
	opacity: 1;
	visibility: visible;
}

.p-works__modal-body-detail {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 32px;
	justify-content: center;
	margin: 0 auto;
	max-width: 400px;
	padding-top: 31px;
}

.p-works__modal-body-detail .p-works__modal-select {
	padding: 13px 25px;
}

.p-works__modal-body-detail .is-active {
	background: #727272;
	border-color: #727272;
}

.p-info {
	background: url(../img/info-bg.png) no-repeat center center/contain;
	background-color: #ebebeb;
	padding-bottom: 72px;
	padding-top: 53px;
}

.p-info__inner {
	padding-inline: 60px;
	text-align: center;
}

.p-info__top-first {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.65;
}

.p-info__top-second {
	align-items: end;
	display: flex;
	flex-direction: row;
	gap: 12px;
	justify-content: center;
	padding-top: 12px;
}

.p-info__top-second span {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.65;
}

.p-info__top-second svg {
	flex-shrink: 0;
	height: 39px;
	width: 189px;
}

.p-info__top-third {
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.65;
	padding-top: 26px;
}

.p-info__merits {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 56px;
	padding-top: 39px;
}

.p-info__merit {
	background: #fff;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.65;
	padding: 12px 32px;
}

.p-info__button {
	transition: opacity 0.3s ease;
}

.p-info__button:hover {
	opacity: 0.7;
}

.p-info__button-text {
	background: #9f28fb;
	border-radius: 30px;
	color: #ebebeb;
	display: inline-block;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	padding: 17px 63px 18px 64px;
	width: -moz-fit-content;
	width: fit-content;
}

.p-info__course {
	display: none;
}

.p-info__course-left-title {
	border-top: 1px solid #222;
	display: flex;
	font-size: 15px;
	font-weight: 700;
	justify-content: flex-start;
	line-height: 2.1;
	padding-top: 11px;
	width: 135px;
}

.p-info__course-standard {
	border-top: 1px solid #222;
	display: flex;
	flex-direction: row;
	gap: 40px;
	padding-top: 11px;
}

.p-info__course-standard-title {
	font-size: 15px;
	font-weight: 700;
	line-height: 2.1;
	padding-left: 10px;
	position: relative;
}

.p-info__course-standard-title::before {
	background: #9f28fb;
	border-radius: 50%;
	content: "";
	height: 7px;
	left: 0;
	position: absolute;
	top: 13px;
	width: 7px;
}

.p-info__course-standard-lists {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.p-info__course-standard-list {
	font-size: 15px;
	font-weight: 400;
	line-height: 2.1;
	padding-left: 10px;
	position: relative;
}

.p-info__course-standard-list::before {
	background: #9f28fb;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%);
	width: 7px;
}

.p-info__course-advance {
	border-top: 1px solid #222;
	display: flex;
	flex-direction: row;
	gap: 55px;
	margin-top: 40px;
	padding-top: 11px;
}

.p-info__course-advance-title {
	font-size: 15px;
	font-weight: 700;
	line-height: 2.1;
	padding-left: 10px;
	position: relative;
}

.p-info__course-advance-title::before {
	background: #9f28fb;
	border-radius: 50%;
	content: "";
	height: 7px;
	left: 0;
	position: absolute;
	top: 13px;
	width: 7px;
}

.p-info__course-advance-lists {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.p-info__course-advance-list {
	font-size: 15px;
	font-weight: 400;
	line-height: 2.1;
	padding-left: 10px;
	position: relative;
}

.p-info__course-advance-list::before {
	background: #9f28fb;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%);
	width: 7px;
}

.u-color__design {
	background: #569bff;
	border-color: #569bff;
}

.u-color__cording {
	background: #ef6bab;
	border-color: #ef6bab;
}

.u-color__writing {
	background: #ee933e;
	border-color: #ee933e;
}

.u-color__movie {
	background: #18be64;
	border-color: #18be64;
}

.u-color__all {
	background: #9f28fb;
	border-color: #9f28fb;
}

.u-sp__hidden {
	display: none;
}

@media screen and (min-width: 768px) {

.l-header {
	padding-block: 20px;
}

.l-header__inner {
	margin: 0 auto;
	max-width: 1060px;
	padding-inline: 30px;
}

.l-header__container {
	display: none;
}

.l-header__container-pc {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.l-footer__inner {
	margin: 0 auto;
	max-width: 1000px;
	padding-inline: 30px;
}

.l-footer__container {
	display: flex;
	flex-direction: row;
	gap: 100px;
	justify-content: space-between;
}

.l-footer__first {
	align-items: flex-start;
	width: 280px;
}

.l-footer__sns {
	gap: 20px;
	padding-top: 28px;
}

.l-footer__second {
	flex: 1;
	padding-top: 0;
}

.l-footer__second-nav {
	justify-content: flex-start;
	width: auto;
}

.l-footer__second-notes {
	padding-bottom: 32px;
	padding-inline: 0;
	padding-top: 73px;
}

.p-mv {
	background: url(../img/mv-pc.png) no-repeat center center/cover;
	padding-bottom: 345px;
	padding-top: 163px;
}

.p-mv__inner {
	padding-inline: 30px;
}

.p-mv__top-text {
	font-size: 26px;
	font-weight: 900;
	line-height: 1;
}

.p-mv__top-logo {
	padding-bottom: 44px;
	padding-top: 28px;
}

.p-mv__top-logo img {
	width: 610px;
}

.p-mv__bottom-text {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.65;
}

.p-site__swiper {
	padding-bottom: 67px !important;
	top: -222px;
}

.swiper-pagination-progressbar {
	width: 400px !important;
}

.p-report {
	padding-top: 100px;
}

.p-report__inner {
	margin: 0 auto;
	max-width: 1000px;
}

.p-report__container {
	display: flex;
	flex-direction: row;
	gap: 100px;
	justify-content: space-between;
	padding-left: 37px;
	padding-right: 36px;
}

.p-report__description {
	font-size: 18px;
	line-height: 2.1;
	max-width: 401px;
	padding-top: 150px;
}

.p-report__description-text + .p-report__description-text {
	padding-top: 18px;
}

.p-works__narrow-sp {
	display: none;
}

.p-works__narrow-pc {
	display: block;
	padding-top: 67px;
}

.p-works__cards {
	display: block;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 32px;
	column-gap: 32px;
	margin: 0 auto;
	max-width: 660px;
}

.p-info {
	padding-bottom: 148px;
	padding-top: 88px;
}

.p-info__top-first {
	font-size: 15px;
	line-height: 1;
}

.p-info__top-second span {
	font-size: 18px;
}

.p-info__top-second svg {
	height: 63px;
	width: 306px;
}

.p-info__top-third {
	font-size: 18px;
}

.p-info__merits {
	flex-direction: row;
	gap: 35px;
	justify-content: center;
	padding-bottom: 80px;
	padding-top: 46px;
}

.p-info__course {
	display: flex;
	flex-direction: row;
	gap: 44px;
	justify-content: center;
	margin: 0 auto;
	max-width: 670px;
	padding-bottom: 72px;
}

.u-pc__hidden {
	display: none;
}

.u-sp__hidden {
	display: block;
}

}

@media screen and (min-width: 950px) {

.l-header-pc__menus {
	gap: 31px;
}

.l-header-pc__menu--button {
	padding: 11px 41px 12px 42px;
}

.l-footer__container {
	gap: 245px;
}

.p-report__title svg {
	height: 452px;
	width: 346px;
}

.p-report__description {
	padding-top: 243px;
}

.p-works__narrow-pc-button {
	max-width: 900px;
}

.p-works__narrow-pc-category {
	padding: 13px 40px;
}

}

@media screen and (min-width: 1230px) {

.p-works__cards {
	-moz-column-count: 3;
	column-count: 3;
	max-width: 1000px;
}

}

@keyframes bar01 {

0% {
	transform: translateY(12.5px) rotate(45deg);
}

50% {
	transform: translateY(12.5px) rotate(0);
}

100% {
	transform: translateY(0) rotate(0);
}

}

@keyframes bar03 {

0% {
	transform: translateY(-12.5px) rotate(-45deg);
}

50% {
	transform: translateY(-12.5px) rotate(0);
}

100% {
	transform: translateY(0) rotate(0);
}

}

@keyframes active-bar01 {

0% {
	transform: translateY(0) rotate(0);
}

50% {
	transform: translateY(12.5px) rotate(0);
}

100% {
	transform: translateY(12.5px) rotate(45deg);
}

}

@keyframes active-bar03 {

0% {
	transform: translateY(0) rotate(0);
}

50% {
	transform: translateY(-12.5px) rotate(0);
}

100% {
	transform: translateY(-12.5px) rotate(-45deg);
}

}

